body {
    background-color:black;
}

h1 {color: red;
    text-align: center;
	    font-size: 60px;
		margin:20px; 
	 font-family: "Times New Roman", Times, serif;
}
body {margin:0;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
	 font-family: "Times New Roman", Times, serif;
	font_color: 
}
.topnav a:hover {
    background-color:#ddd ;
    color: red;
}
.topnav a.active {
    background-color: grey;
    color: white;
}
p{
	font-size:35px;
	font:bold;
	margin:75px;
	 font-family: "Times New Roman", Times, serif;
}
